.headercenter {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
}

.header {
  position: fixed;
  top: 1vw;
  width: 50%;
  height: 6vw;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  display: flex;
  position: relative;
  background-color: #3a3988;
  box-shadow: 0px 0px 30px 15px rgba(255, 255, 255, 0.25);

  z-index: 1;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .header {
    top: 4vw;
    height: 10vw;
  }
}

.cloud {
  width: 25%;
}

@media (max-width: 800px) {
  .cloud {
    width: 35%;
  }
}

a {
  width: 50%;
}

.headertext {
  color: white;
  font-size: 1.5vw;
  font-weight: bolder;
}
